div.totalInfo {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
    background-color: aquamarine;
    width: 15rem;
}

.groupname {
    font-weight: 600;
}

p {
    margin: 0 0 1rem 0;
}

#los,
#bundles {
    display: initial;
}


/* #eyelidsChoice {
    display: flex;
} */

#heads,
#handpaws,
#body,

/* #feetpaws,
#feetpaws>#feetpawsOptions,
#feetpaws>#feetpawsPartialOnly, */

#tail,
#armsleeves,
#armsleeves>#armsleevesOptions,
#fleeceTotalColors,
#minkyTotalColors,
#piercingsGroup,
#extraEyelids,
#extraEyelids2,
#extraTongues,
#extraTongues2,
#feetpawsExtra,
#tailExtra,
.tailFullsuit,
#extraFeetpair,
#questionExtraTail {
    display: none;
}


/* #fleeceTotalColors,
#minkyTotalColors */